.resetheader{
    background-color: black;
    color: bisque;
    text-align: center;
    padding: 1%;

}
.resetcards{
    width: 100%;
    background-image: url('../../../public/passwor.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.resetform{
    width: 50%;
    height: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.511);
    min-width: 300px;
   
}
.resetform p{
    color: aliceblue;
    margin-top: 1%;
}
.resetform input{
    border-radius: 2cm;
    color: black;
}
.resetform input::placeholder{
    color: black;
}
.resetform button{
    background-color: black;
    color: white;
}
.resetform a{
    color: aliceblue;
    text-decoration: none;
}
