
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@700&display=swap');


.adminauthentication {
    /* text-align: center; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../public/adminlogin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
  
  }